{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Donors
{% endblock %}


{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Data Bridge!</h1>

      <p class="lead">This is where you can search for all of the specimens that come from a specific donor</p>

      {{ render_form(form) }}

      <div class="message"> 
        {% if possible_donors|length > 0 %}
          <table>
            <thead>
              <tr>
                <th>Donors</th>
              </tr>
            </thead>
            <tbody>
              {% for donor in possible_donors %}
                <tr class="clickable" onclick="redirectToDonorPage('{{ donor }}');">
                  <td>{{ donor }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="pt-5"><strong>{{ message }}</strong></p>
        {% endif %}
      </div>

    </div>
</div>

{% endblock %}