{% extends 'base.html' %}

{% block title %}
Donor Specimen List
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown_and_metadata.css') }}" type="text/css">

<div class = "page"> 
    <div class="container dropdown-div">
        <div class="row pb-5">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <h1 class="pt-5 pb-2">Donor Specimens</h1>
                    <ul id="myUL">
                        {% for node in tree recursive %}
                        <li>
                        {% if node.children %}
                        <span class="caret"></span>
                        <span class="clickable">{{ node.name }}</span>
                        <ul class="nested">
                            {{ loop(node.children) }}
                        </ul>
                        {% else %}
                        <span class="bullet_point clickable">{{ node.name }}</span>
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='javascript/dropdown.js') }}"></script>
    
    <div class="container metadata-div">
        <div class="row pb-5">
            <div class="col-md-10 col-lg-8">
          
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
          
                <h1 class="pt-5 pb-2">Specimen Information</h1>
          
                <p class="lead alert alert-warning" >This is the metadata associated with specimen: 
                    <strong data-key="name"> {{ specimen_data.name }} </strong></p>
          
                <p class="ml-4"><a href="{{ url_for('home') }}">Return to home.</a></p>
                    
                {% if specimen_data['image_url'] != "None" %} 
                    <img src = "{{ specimen_data['image_url'] }}" alt = "Specimen image" height="550"]>
                {% endif %}
                  
                    <table class="table">
                        <tr>
                            <th>Specimen ID</th>
                            <td data-key="id">{{ specimen_data.id }}</td>
                        </tr>
                        <tr>
                            <th>Parent Name</th>
                            <td data-key="parent_name">{{ specimen_data.parent_name }}</td>
                        </tr>
                        <tr>
                            <th>Parent ID</th>
                            <td data-key="parent_id">{{ specimen_data.parent_id }}</td>
                        </tr>
                        <tr>
                            <th>Donor ID</th>
                            <td data-key="donor_id">{{ specimen_data.donor_id }}</td>
                        </tr>
                        <tr>
                            <th>Project Name</th>
                            <td data-key="project_name">{{ specimen_data.project_name }}</td>
                        </tr>
                        <tr>
                            <th>Specimen Type</th>
                            <td data-key="specimen_type">{{ specimen_data.specimen_type }}</td>
                        </tr>
                        <tr>
                            <th>Plane of Section</th>
                            <td data-key="plane_of_section">{{ specimen_data.plane_of_section }}</td>
                        </tr>
                        <tr>
                            <th>Structure</th>
                            <td data-key="structure">{{ specimen_data.structure }}</td>
                        </tr>
                        <tr>
                            <th>Organism</th>
                            <td data-key="organism">{{ specimen_data.organism }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td data-key="age">{{ specimen_data.age }}</td>
                        </tr>
                        <tr>
                            <th>Storage Directory</th>
                            <td data-key="storage_directory">{{ specimen_data.storage_directory }}</td>
                        </tr>
                        <tr>
                            <th>Image Type</th>
                            <td data-key="image_type">{{ specimen_data.image_type }}</td>
                        </tr>
                        <tr>
                            <th>Image Name</th>
                            <td data-key="image_name">{{ specimen_data.image_name }}</td>
                        </tr>
           
                    </table>
          
                </table>
          
            </div>
        </div>
    </div>
</div>

{% endblock %}
