{% extends 'base.html' %}

{% block title %}
Donor Specimen List
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}" type="text/css">

<div class="container">
    <div class="row pb-5">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Donor Specimens</h1>
                <ul id="myUL">
                    {% for node in tree recursive %}
                    <li>
                        {% if node.children %}
                        <span class="caret">{{ node.name }}</span>
                        <ul class="nested">
                            {{ loop(node.children) }}
                        </ul>
                        {% else %}
                        <span class="bullet_point">{{ node.name }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/dropdown.js') }}"></script>

{% endblock %}
