{% extends 'base.html' %}


{% block title %}
Donor Specimen List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <h1 class="pt-5 pb-2">Specimen Information</h1>

        <p class="lead alert alert-warning">This is the metadata associated with specimen: 
			<strong>{{ name }}</strong></p>

	    <p class="ml-4"><a href="{{ url_for('home') }}">Return to home.</a></p>
    
        <img src="{{ url_for('static', filename='220_MERSCOPE.JPG')}}" alt="Specimen image" height="550">
        
            <table class="table">
                <tr>
                    <th>Specimen name</th>
                    <td>{{ specimen.name }}</td>
                </tr>
                <tr>
                    <th>Specimen ID</th>
                    <td>{{ specimen.id }}</td>
                </tr>
                <tr>
                    <th>Parent Name</th>
                    <td>{{ parent_name }}</td>
                </tr>
                <tr>
                    <th>Parent ID</th>
                    <td>{{ specimen.parent_id }}</td>
                </tr>
                <tr>
                    <th>Donor ID</th>
                    <td>{{ specimen.donor_id }}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{ specimen.project_name }}</td>
                </tr>
                <tr>
                    <th>Plane of Section</th>
                    <td>{{ specimen.plane_of_section_id }}</td>
                </tr>
                <tr>
                    <th>Parent x coord</th>
                    <td>{{ specimen.parent_x_coord }}</td>
                </tr>
                <tr>
                    <th>Parent y coord</th>
                    <td>{{ specimen.parent_y_coord }}</td>
                </tr>
                <tr>
                    <th>Parent z coord</th>
                    <td>{{ specimen.parent_z_coord }}</td>
                </tr>
                <tr>
                    <th>Children</th>
                    <td>{{ specimen.children }}</td>
                </tr>
            </table>

        </table>

		</div>
	</div>
</div>

{% endblock %}